<!DOCTYPE html>
<html>
<!--  <div class="Feedback">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div> -->
  <head>
    <title>Blayne Ahern CV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
          <script>
            $(document).ready(function () {
                var menuTrigger = false;
                $(document).keypress(function (e) {
                    if (e.which == 13) {
                        if (menuTrigger == false) {
                            $("h2").fadeIn(500);
                            menuTrigger = true;
                        }
                        else if (menuTrigger == true) {
                            $("h2").fadeOut(500);
                            menuTrigger = false;
                        }
                    }
                });
            });
        </script>
    </head>
    <body class="w3-light-grey">
    
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
      
        <!-- Left Column -->
        <div class="w3-third">
        
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <div class="w3-display-bottomleft w3-container w3-text-black">
              </div>
            </div>
            <div class="w3-container">
              <h2>Blayne Ahern</h2>
              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Application Support Engineer</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Limerick, Ireland</p>
              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Blayneahern9@gmail.com</p>
              <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0873841039</p>
              <hr>
    
              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills Profile</b></p>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option color="w3-teal">Java</mat-chip-option>
                <mat-chip-option color="w3-teal">CSS</mat-chip-option>
                <mat-chip-option color="w3-teal">javaScript</mat-chip-option>
                <mat-chip-option color="w3-teal">PHP</mat-chip-option>
                <mat-chip-option color="w3-teal">Bootstrap</mat-chip-option>
                <mat-chip-option color="w3-teal">C#</mat-chip-option>
                <mat-chip-option color="w3-teal">HTML</mat-chip-option>
                <mat-chip-option color="w3-teal">MYSQL</mat-chip-option>
                <mat-chip-option color="w3-teal">MongoDB</mat-chip-option>
                <mat-chip-option color="w3-teal">Express</mat-chip-option>
                <mat-chip-option color="w3-teal">Angular</mat-chip-option>
                <mat-chip-option color="w3-teal">Node</mat-chip-option>
                <mat-chip-option color="w3-teal">PUG</mat-chip-option>
                <mat-chip-option color="w3-teal">JQuery</mat-chip-option>
                <mat-chip-option color="w3-teal">Ansible</mat-chip-option>
                <mat-chip-option color="w3-teal">Opswise</mat-chip-option>
              </mat-chip-listbox>
              <div class="w3-light-grey w3-round-xlarge w3-small">
               
              </div>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
               
                </div>
              </div>
           
              <div class="w3-light-grey w3-round-xlarge w3-small">
           
              </div>
          
              <div class="w3-light-grey w3-round-xlarge w3-small">
           
              </div>
              <br>
    
              <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
              <p>English</p>
              <div class="w3-light-grey w3-round-xlarge">
              </div>
            </div>
          </div><br>
    
        <!-- End Left Column -->
        </div>
    
        <!-- Right Column -->
        <div class="w3-twothird">
         <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Application Support Engineer / Fexco</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2023 - current <span class="w3-tag w3-teal w3-round">Recent</span></h6>
              <p>While working at fexco I took part in morning meetings every day to discuss current ticket workload, any blockers and upcoming releases or upgrades by dev,dba or IT. I also took part in multiple large undertakings like setting up new acquirers on our database and the relevant automated processes for them like file uploads and transaction processing.</p>
                
              <hr>
            </div>
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>IT Coop / Astellas Pharma</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2022 - August 2022 <span class="w3-tag w3-teal w3-round">Recent</span></h6>
              <p>During my time at Astellas Pharma, I did a variety of tasks. These included researching new Database management systems such as ServiceNow, Creating templates within ServiceNow to ensure clarity and consistency amongst documentation, Completing several standard operating procedures daily, Comparing data within the database to our documentation, and daily meetings.</p>
                
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>IT Support Engineer</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2023<span class="w3-tag w3-teal w3-round">Current</span></h6>
              <p>I am currently working for PFH as an IT Support Engineer setting up desktops and laptops for Eli Lilly and Virgin Media.</p>
              <hr>
            </div>  
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Barista / Galway Races</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2016</h6>
              <p>Spent days stocking supplies, Cleaning left over dishes, and serving customers.</p>
              <hr>
            </div>
            
  
          </div>

        
          
    
          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Munster Technolgical University, Co. Kerry</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2022</h6>
              <p>Bachelor of Science in Computing with Software Development</p><br>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Scoil Mhuire agus ide, Newcastle West, Co. Limerick</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017</h6>
              <p>Junior and Leaving Certificate</p><br>
            </div>
          </div>
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Ping Pong</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Completed September 2019</h6>
              <p>Used java to create a windows application that allows the user to play ping pong with another player using the WASD keys and the arrow keys. I took advantage of object-oriented programming to keep the code reusable and maintainable. EG. ball, paddle, and score objects. 
              </p>
                
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>DVD Rental System</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Completed April 2021</h6>
              <p>Used C# and SQL to create a windows application that allows the user to rent and return a DVD and allows the owner of the application to add, remove and update new DVDs. I utilized the oracle database along with the oracle plugin for visual studio to ensure SQL queries could go from the application to my database.</p>
              <hr>
            </div>    
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Personal Website</b><span class="w3-tag w3-teal w3-round">Recent</span></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Completed February 2023</h6>
              <p>I utilized HTML,CSS and Angular to create this webpage.</p>
              <hr>
            </div>
          </div>

    
        <!-- End Right Column -->
        </div>
        
      <!-- End Grid -->
      </div>
      <!-- End Page Container -->
    </div>
    
    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    
    </body>
    
    </html>
    
